@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

li {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    font-weight: bold;
}

.hero-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    margin: 20px;
}

.header-logo {
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    margin: 20px;
}

.info-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 40px 90px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.attribution {
    align-self: flex-end;
}

#cta-container {
    display: flex;
    justify-content: center;
}

#close-cta {
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}