#main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    aspect-ratio: 1;
    max-height: 960px;
}

.etch-cell {
    outline-color: gray;
    outline-width: 0.5px;
    outline-style: solid;
}